# clang-format configuration
BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
ColumnLimit: 80
ContinuationIndentWidth: 4
IndentCaseLabels: true
AccessModifierOffset: -4
AllowShortIfStatementsOnASingleLine: Always